:host{
  display: block;
  overflow: auto;
  height: 100%;
}
app-projects >>> .block {
  background-color: transparent;
  box-shadow: none;
}
>>>.border-top{
  border-top: 1px solid black;
  padding-top: 15px;
  border-radius: 0 !important;
}
h1{
  text-align: center;
  color: white;
  text-transform: uppercase;
}
input[type=number]{
  width: 260px;
  padding: 5px 15px;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid white;
  outline: none;
  color: white;
  max-width: 100%;
  box-shadow: none;
}
input[type=number]:focus{
  box-shadow: 0 0 10px white;
}
input[type=number]::-webkit-input-placeholder {color: rgb(182, 182, 182);}
input[type=number]::-moz-placeholder          {color:rgb(182, 182, 182);}/* Firefox 19+ */
input[type=number]:-moz-placeholder           {color:rgb(182, 182, 182);}/* Firefox 18- */
input[type=number]:-ms-input-placeholder      {color:rgb(182, 182, 182);}

input[type=text]{
  width: 205px;
  padding: 5px 15px;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid white;
  outline: none;
  color: white;
}
input[type=text]:focus{
  box-shadow: 0 0 10px white;
}
input[type=text]::-webkit-input-placeholder {color:white;}
input[type=text]::-moz-placeholder          {color:white;}/* Firefox 19+ */
input[type=text]:-moz-placeholder           {color:white;}/* Firefox 18- */
input[type=text]:-ms-input-placeholder      {color:white;}

app-projects{
  margin: -40px 0 !important;
  display: block;
  max-width: 100% !important;
  width: 100% !important;
}
