
    <header>
      <h1 *ngIf="project">{{project.name}}</h1>
    </header>
    <div class="container">
      <ngb-tabset #t = "ngbTabset" type="pills" justify="justified">
        <div class="row">
          <div class="col-12 col-lg">
            <ngb-tab id="edit">
                <ng-template ngbTabTitle><b>Add</b></ng-template>
                <ng-template ngbTabContent>
                <app-add-group *ngIf="project.id > 0" [title]="'Add new group'" [project]="project"></app-add-group>
              </ng-template>
            </ngb-tab>
          </div>
          <div class="col-12 col-lg">
            <ngb-tab>
              <ng-template ngbTabTitle><b>Edit</b></ng-template>
              <ng-template ngbTabContent>
                <app-edit [project]="project"></app-edit>
              </ng-template>
            </ngb-tab>
          </div>
          <div class="col-12 col-lg">
            <ngb-tab>
              <ng-template ngbTabTitle><b>Print</b></ng-template>
              <ng-template ngbTabContent>
                <div class="row">
                  <div class="col-12 text-center mb-3">
                    <h4 class="mb-3">Teacher sheet</h4>
                    <a class="btn btn-success" routerLink="teacher-sheet" routerLinkActive="active">Look <i class="fa fa-caret-right" aria-hidden="true"></i></a>
                  </div>
                  <div class="col-12 text-center border-top">
                    <h4>Apprentice sheets</h4>
                  </div>
                  <div class="col-12 text-center mt-3">
                    <input class="mr-2" [(ngModel)]="apprenticeSheetAddCount" placeholder="Input apprentice sheets count" type="number" min="0" max="{{50 - apprenticeSheetLook.length}}" (keyup)="validate()"/>
                    <button class="btn btn-secondary" (click)="addApprenticeSheet()"> Add </button>
                  </div>
                  <div *ngIf="apprenticeSheetLook.length > 0" class="col-12 text-center mt-3">
                    <div *ngIf="apprenticeSheetLook" class="d-inline-block mr-2" ngbDropdown>
                      <button class="btn btn-primary dropdown" id="dropdownBasic2" ngbDropdownToggle>{{apprenticeSheetLookCurrent.name}}</button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button (click)="changeCurrent('All', -1)" class="dropdown-item">All</button>
                        <button *ngFor="let num of apprenticeSheetLook; let i = index" (click)="changeCurrent(i + 1, num)" class="dropdown-item">{{i + 1}}</button>
                      </div>
                    </div>
                    <a class="btn btn-success" (click)="lookApprenticeSheet()">Look</a>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </div>
          <div class="col-12 col-lg">
            <ngb-tab>
              <ng-template ngbTabTitle><b>Change project</b></ng-template>
              <ng-template ngbTabContent>
                <app-projects [@noChange] (changeTab)="t.select('edit')" [project]="this.project"></app-projects>
              </ng-template>
            </ngb-tab>
          </div>
          <div class="col-12 col-lg">
            <ngb-tab>
              <ng-template ngbTabTitle><b>Personal area</b></ng-template>
              <ng-template ngbTabContent>
                <app-personal-area></app-personal-area>
              </ng-template>
            </ngb-tab>
          </div>
        </div>
      </ngb-tabset>
    </div>

