<div class="root-bg">
  <div class="shadow">
    <header *ngIf="isHeader">
      <app-header></app-header>
    </header>
    <div class="myContainer">
      <div class="block">
        <div class="col-12 text-center">
          <input [(ngModel)]="newProject" placeholder="New project name"/>
          <input type="button" (click)="save()" value="save">
          <h3 *ngIf="newProject">Проверка имя - {{newProject}}</h3>
        </div>
        <div class="col-12 text-center">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-primary dropdown" id="dropdownBasic2" ngbDropdownToggle>Toggle dropdown</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button *ngFor="let project of projects" class="dropdown-item">{{project.id}} - {{project.name}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
