<div class="root-bg">
  <div class="shadow"
       [@routeAnimation]="state"
       (@routeAnimation.done)="redirect()">
    <header>
      <app-header [title]="project.name"></app-header>
    </header>
    <div class="container">
      <ngb-tabset #t = "ngbTabset" type="pills">
        <div class="row">
          <div class="col-12 col-lg">
            <ngb-tab id="edit">
                <ng-template ngbTabTitle><b>Add</b></ng-template>
                <ng-template ngbTabContent>
                <app-add-group [title]="'Add new group'" [project]="project"></app-add-group>
              </ng-template>
            </ngb-tab>
          </div>
          <div class="col-12 col-lg">
            <ngb-tab>
              <ng-template ngbTabTitle><b>Edit</b></ng-template>
              <ng-template ngbTabContent>
                <app-edit [id]="project.id"></app-edit>
              </ng-template>
            </ngb-tab>
          </div>
          <div class="col-12 col-lg">
            <ngb-tab>
              <ng-template ngbTabTitle><b>Print</b></ng-template>
              <ng-template ngbTabContent>
                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
                  master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
                  dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
                  iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
              </ng-template>
            </ngb-tab>
          </div>
        </div>
      </ngb-tabset>
    </div>
  </div>
</div>
