<div class="row">
  <div class="col-12 text-center">
    <h2>{{title}}</h2>
  </div>
  <div *ngIf="(currentCount && currentCount < 40) || group.id" class="col-12 col-md mt-4">
    <div class="row">
      <div class="col-12 text-center">
        <input (keyup.enter)="add()" [(ngModel)]="currentInput" placeholder="Input {{group.name === '' ? 'main': 'next'}} word" >
      </div>
      <div class="col-12 text-center mt-3">
        <button class="btn btn-success" (click)="add()" >{{editId === -1 ? 'Add' : 'Save'}}</button>
      </div>
    </div>
  </div>
  <div *ngIf="(group.name && currentCount && currentCount < 40) || group.id" class="col-12 col-md mt-4">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="{{editId === -2 ? 'editing' : ''}}" (click)="edit(-2, group.name)" >{{group.name}}</h3>
      </div>
      <div *ngFor="let word of group.others; index as i;" class="col-auto mt-3">
        <div class="word-block {{editId === i ? 'editing' : ''}}" (click)="edit(i, word)">{{word}}</div>
      </div>
      <div *ngIf="group.others.length > 0" class = "col-12 text-center mt-3">
        <button (click)="save()" class = "btn btn-success">Save</button>
        <button (click)="clear()" class = "btn {{group.id === 0 ? 'btn-secondary': 'btn-danger'}} ml-2">{{group.id === 0 ? 'Clear': 'Delete'}}</button>
      </div>
    </div>
  </div>
  <div *ngIf="currentCount && currentCount === 40 && !group.id" class="col-12 text-center">
    <h3 class="text-danger">You entered max count of groups</h3>
  </div>
</div>
