.btn-outline-light {
  border-radius: 15px;
}
>>> .my-modal .modal-content{
  background-color: rgba(0, 123, 255, .7);
}
>>> .my-modal .modal-content > *{
  border: none !important;
}
>>> .my-modal .modal-header h4{
  flex-grow: 1;
  text-align: center;
  color: white;
}
