/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
html, body {
  height: 100%;
  overflow: hidden;
}
.alert:first-child{
  margin-top: 1rem;
}
.btn, .dropdown-item{
  cursor: pointer;
}
ul.nav{
  border: 2px solid rgba(0, 123, 255, .5);
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}
ul.nav > li > a{
  border-radius: 0 !important;
}
ul.nav > li:first-child a{
  padding-left: 12px;
}
.tab-content {
  background-color: rgba(0, 123, 255, .5);
  color:white;
  border-radius:  0 0 20px 20px;
  padding: 30px 10px;
}
