<div *ngFor="let sheet of sheets" class="listA4">
  <div *ngIf="project" class="listContainer">
    <h1 class="mb-3">{{project.name}}</h1>
    <div *ngIf="!sheet" class="danger">
      <h2 class="text-danger mb-3">Wrong url</h2>
      <a class="btn btn-secondary" routerLink="/project/{{project.id}}">Back</a>
    </div>
    <div class="myRow" *ngFor="let words1 of sheet">
      <div class="cell" *ngFor="let word of words1">
        <p>{{word}}</p>
      </div>
    </div>
  </div>
</div>
<a *ngIf="sheets.length > 0 && project" class="btn btn-secondary ghost-btn" routerLink="/project/{{project.id}}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
